<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.mapper.MccccOpInvestmentDetailsMapper">

    <resultMap id="BaseResultMap" type="com.cisdi.entity.MccccOpInvestmentDetailsEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="reportingTime" column="reporting_time" jdbcType="VARCHAR"/>
            <result property="informant" column="informant" jdbcType="VARCHAR"/>
            <result property="fillingTime" column="filling_time" jdbcType="TIMESTAMP"/>
            <result property="projCode" column="proj_code" jdbcType="VARCHAR"/>
            <result property="projName" column="proj_name" jdbcType="VARCHAR"/>
            <result property="lineNumber" column="line_number" jdbcType="INTEGER"/>
            <result property="serialNumber" column="serial_number" jdbcType="VARCHAR"/>
            <result property="projectCategory" column="project_category" jdbcType="VARCHAR"/>
            <result property="annualPlan" column="annual_plan" jdbcType="DECIMAL"/>
            <result property="monthlyPlan" column="monthly_plan" jdbcType="DECIMAL"/>
            <result property="monthlyCompletion" column="monthly_completion" jdbcType="DECIMAL"/>
            <result property="yearlyCumulative" column="yearly_cumulative" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="statusExplanation" column="status_explanation" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,reporting_time,informant,
        filling_time,proj_code,proj_name,
        line_number,serial_number,project_category,
        annual_plan,monthly_plan,monthly_completion,
        yearly_cumulative,remark,status_explanation
    </sql>
</mapper>
